@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Regular.eot');
    src: url('fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('fonts/subset-Roboto-Regular.woff') format('woff'),
        url('fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Medium.eot');
    src: url('fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('fonts/subset-Roboto-Medium.woff') format('woff'),
        url('fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;

}

header {
    background-color: #EEEFF1;
}

.design {
    background-color: #EEEFF1;
}

.navigation {
    padding: 79px 0 160px 0;
}

.nav-link {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.nav-link.nav-link-active {
    font-weight: 500;
    color: #34547A;
}

.nav-link:hover {
    color: #34547A;
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    margin: 0 0 45px 0;
}

.description {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #727272;
}


.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding: 18px 40px 19px 40px;
    text-transform: uppercase;
    background-color: #34547A;
    margin: 54px 0 141px 0;
    border: 1px solid #34547A;
    cursor: pointer;
}

.btn:hover {
    color: #34547A;
    background-color: transparent;
    transition: all 0.4s linear;


}

.sub-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-align: center;
    margin-block-end: 42px;
}

.description.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about {
    padding: 112px 0 42px 0;
    background-color: #F9F9F9;
}

.cards {
    background-color: #34547A;
    padding: 100px 0 100px 0;
}

.card {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    margin-right: 49px;
}

.aside {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 20px;
}

.baner {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

.banner-text {
    font-size: 16px;
    line-height: 18px;
}

.card img {
    width: 50px;
}

.card:last-child {
    margin-right: 0;
}

.how-i-work {
    background-color: #F9F9F9;
    padding: 100px 0;
}

.video {
    width: 1110px;
    height: 600px;
    margin-top: 46px;
}

.footer {
    background-color: #34547A;
    padding-top: 50px;
    padding-bottom: 47px;
    color: #ffffff;
}

.avtor {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 15px;
}

.text-avtor {
    font-size: 13px;
    line-height: 15px;
}